.App {
  text-align: center;
}

.side-navbar {
  width: 25%; 
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.nav-link {
  color: #333;
}

.nav-link:hover {
  color: #007bff;
}

/* Update styles for the top navbar */
.top-navbar {
  background-color: #000; /* Change the background color to black */
}

/* Add styles for character image and level progress bar */
.character-container {
  margin-top: 50px;
}

.level-progress-bar {
  margin-bottom: 10px;
}

.level-info {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.character-image img {
  max-width: 200px;
  height: auto;
  border-radius: 50%;
}
